<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">olo</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/appdziennik</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping resource="kus/hibernate/classes/Users.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Schedule.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Classes.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Userroles.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Students.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Parents.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Teachers.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Listofpresent.hbm.xml" />
        <mapping resource="kus/hibernate/classes/ParentsHasStudents.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Marks.hbm.xml" />
        <mapping resource="kus/hibernate/classes/CoursesHasTeachers.hbm.xml" />
        <mapping resource="kus/hibernate/classes/Lessons.hbm.xml" />        
        <mapping resource="kus/hibernate/classes/Courses.hbm.xml" />
    </session-factory>
</hibernate-configuration>
